body{
   background-color: rgb(190, 218, 31);
   height: 100vh;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   text-align: center;
}
span{
    color: purple;
}
h1{
    font-size: 3rem;
    width: 600px;
    margin-left: 99px;
}
.container{
    display: grid;
    background-color: #000;
    width: 774px;
    height: 100vh;
    gap: 7px;
    grid-template-columns: repeat(6,1fr) 30px;
    grid-template-rows:  repeat(6,1fr);
}
.item{
    background-color: azure;
    
}
.white1{
    grid-column: span 2;
}
.yellow1{
    grid-column: span 2;
    background-color: yellow;
    
}
.white2{
    grid-column: span 2;
}
.white3{
    grid-row: span 8;
}

.red1{
    grid-row: span 3;
    grid-column: span 3;
    background-color: red;
}
.yellow2{
    grid-column: span 2;
    /* grid-row: span 2; */
    background-color: yellow;
}
.white6{
    grid-row: span 2; 
 }
 .white7{
    grid-row: span 2;
 }
 .white5{
    grid-row: span 3;
 }
 .black1{
    grid-row: span 3;
    grid-column: span 2;
    background-color: black;
 }
 .gray1{
    grid-column: span 2;
    grid-row: span 2;
 }
 .gray2{
    grid-column: span 2;
    grid-row: span 2;
 }
 .white8{
    grid-row: span 4;
 }
 .yellow3{
    grid-row: span 8;
    background-color: yellow;
 }
 .white9{
    grid-column: span 3;
    grid-row: span 2;
    width: 246px;
 }
 .blue{
    grid-row: span 2;
    background-color: blue;
 }
 .red2{
    grid-row: span 5;
    background-color: red;
 }
 .white10{
    grid-column: span 5;
    grid-row: span 3;
    margin-left: 255px;
}
 .black2{
    /* grid-column: span2; */
    background-color: black;
 }

@media (max-width: 764px){
body{
   height: 100%;
   width: 100%;
   padding-left: 100px;
   padding: 0px;
}   
.container{
   display: grid;
   height: 100%;
   width: 100%;
   /* padding: 0px; */
}
    h1{
      width:250px;
}
}